<!--Submitting box-->
<div class="container">
  <div class="div d-lg-flex align-items-center justify-content-center">
    <div class="post-container">
      <form action="post-blog">
        <textarea rows="20" cols="50" class="justify-content-center border-style-double"> Your Blog</textarea>
      </form>
    </div>
  </div>
</div>
<!--Sumit Button-->
<div class="btn-container">
  <div class="btn">
    <button class="btn-primary btn-lg" (click)="onSaveData()">Post Blog</button>
  </div>
</div>
